{T "member","head"}
<body class="gray-bg">
{if $set_iframe==0}
	{T "member","iframetop"}
{else}
	<div style="padding-top: 15px;"></div>
{/if}
<div class="container-fluid  ie8-member">
	<div class="row">
		{if $set_iframe==0}
		<div class="col-sm-3">
			<!--左侧导航-->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="nav-close"><i class="fa fa-times-circle"></i>
				</div>
				<div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
					<div class="sidebar-collapse" style="width: auto; height: 100%;">
						{T "member","left"}
					</div>
				</div>
			</nav>
			<!--end 左侧导航-->
		</div><!--col-sm-3-->{/if}

		<div class="{if $set_iframe==0}col-sm-9{else}col-sm-12{/if}">

			<div class="row">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>投稿-选择栏目</h5>
						</div>
						<div class="ibox-content" style="min-height: 500px;">
							<div class="row">
								{loop $category_priv $cid $r}
								<div class="col-sm-4"><a type="button"
										href="?f=postinfo&v=newinfo&cid={$cid}&set_iframe={$set_iframe}"
										class="btn btn-block btn-outline btn-default btn-lg">{$r['name']}</a></div>
								{/loop}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{T "member","foot"}