{T "member","head"}
<body class="gray-bg">
<style type="text/css">
    label{font-weight: normal;
    }
    .text-blod{font-weight: bold;}
    #Validform_msg .Validform_title {
        background-color: #4585E6;
    }
    #Validform_msg .Validform_info {
        border: 1px solid #4585E6;
    }
    .input-group-btn{display: table-cell;padding-left: 10px;}
</style>
<link href="{R}css/validform.css" rel="stylesheet" />
<script src="{R}js/validform.min.js"></script>
<script src="{R}js/base.js"></script>
<script type="text/javascript" src="{R}js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="{R}js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="{R}js/ueditor/ueditor.all.min.js"></script>

<link href="{R}js/jquery-ui/jquery-ui.css" rel="stylesheet">
<script src="{R}js/jquery-ui-1.10.1.custom.min.js"></script>
{if $set_iframe==0}
{T "member","iframetop"}
{else}
<div style="padding-top: 15px;"></div>
{/if}
<div class="container-fluid  ie8-member">
    <div class="row row-40" >
        {if $set_iframe==0}
        <div class="col-sm-3 left-nav">             <!--左侧导航-->
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="nav-close"><i class="fa fa-times-circle"></i>
                </div>
                <div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
                    <div class="sidebar-collapse" style="width: auto; height: 100%;">
                        {T "member","left"}
                    </div>
                </div>
            </nav>
            <!--end 左侧导航-->
        </div><!--col-sm-3-->{/if}

        <div class="{if $set_iframe==0}col-sm-9{else}col-sm-12{/if}">

            <div class="row">
                <div class="col-sm-12">
                    <div style="background-color: #fff;color: #ff7600;padding: 18px 20px 18px 28px;">{$siteconfigs['member_tips']}</div>
                    <div class="ibox-content">
                        <div class="memberright">

                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tabs1" id="1tab" role="tab" data-toggle="tab" aria-controls="tabs1" aria-expanded="true">{$catname} - 信息发布</a></li>
                                <li role="presentation" class=""><a href="?m=content&f=postinfo&v=listing&cid={$cid}&set_iframe={$set_iframe}">我发布的{$catname} </a></li>
                            </ul>
                            <div class="memberbordertop">
                                <form name="myform" class="form-horizontal" action="" method="post" id="myform">
                                    <table class="table-dashed table-striped table-advance">
                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right text-blod"><font color="red">*</font> 标题：</label><div class="col-sm-10 text-left">
                                                <input type="text" name="form[title]" id="title" maxlength="80" value="" placeholder="总字数不要超过80个汉字" class="form-control" datatype="*2-80" nullmsg="请输入标题" errormsg="标题至少2个字符,最多80个字符！">                                       </div></div></td>
                                        </tr>

                                        {loop $field_list $info}
                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right text-blod">{if $info['star']}<font color="red">*</font>{/if} {$info['name']}：</label><div class="col-sm-10 text-left">{$info['form']}
                                            </div></div></td>
                                        </tr>
                                        {if $info['remark']}
                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right text-blod"></label><div class="col-sm-10 text-left"><div class="form-tips">{$info['remark']}</div>
                                            </div></div></td>
                                        </tr>
                                        {/if}
                                        {/loop}
                                        {if $formdata['5']['content']['name']}
                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right text-blod">{if $info['star']}<font color="red">*</font>{/if} {$formdata['5']['content']['name']}：</label><div class="col-sm-10 text-left">
                                                {$formdata['5']['content']['form']}
                                            </div></div></td>
                                        </tr>

                                        {/if}


                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right"> </label><div class="col-sm-3 text-left"><input type="submit" name="submit" id="submit" value="提交" class="btn btn-primary" style="width:100%;"></div></div></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#submit").click(function(){
        t=setTimeout("hide_formtips()",3000);
    });
    function hide_formtips() {
        $.Hidemsg();
        clearInterval(t);
    }
    $(function(){
        $(".form-horizontal").Validform({
            tiptype:1
        });
    })
    function remove_obj(obj) {
        $(obj).parent().remove();
    }
    function add_newfile(divid) {
        var str = $('#text_'+divid).val();
        str = '<li>'+str+'</li>';
        $('#'+divid+"_ul").append(str);
    }
</script>
{T "member","foot"}
