{T "content","head",TPLID}
<div class="video-content-top">
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <h3 class="margin_bottom6  margin_top10">{$title}</h3>
                <div class="text-center">
                    <iframe height=580 width=100% src="http://www.tudou.com/programs/view/html5embed.action?type={$play_type}&code={$play_code}&lcode={$play_lcode}&from=wuzhicms" frameborder=0 allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>

{T "content","foot",TPLID}