.page_btn select{font-size:0.815em; font-weight:100; position:relative; top:0px;}
.page_btn span{ position:static; text-align:center;}
.page_btn strong{width:14px; left:9em; margin-right:0px; position:absolute;}
.play_box a.more_btn{}
.play_box a.mores_btn{}
.fh_btn{}

.lstimg li .lstc6{width:58.6%; overflow:hidden;}
.lstimg li .lstc4{width:36%;}
.lir3 li:nth-child(n+2){ margin-top:0.315em;}
.stl_btn{ background:url(../images/bd_btnbg.jpg) repeat-x;}

.t_btn{ width:19.8%; overflow:hidden;}
.t_btn:before{content:" "; background:url(../images/ucb.png) no-repeat 16px -309px; width:60px; height:60px; display:block; text-align:center;}
.page_btn strong:before{content:" "; background:url(../images/ucb.png) no-repeat -6px -98px; display:inline-block;width:14px; height:8px;}
.imgst a.play_btn{}
.adclose_btn{margin-right:0.315em; float:right;}
.adclose_btn:before{content:""; width:24px; height:24px; margin-top:20px; background:url(../images/icon2.png) no-repeat 0px 0px;}
.top_bar > a:last-child:before{content:"";}
.top_bar > a:before{content:"";}
.top_bar > a,.top_bar > div.p_r > a:first-of-type{width:34px; height:34px; background:url(../images/ucb.png) no-repeat; margin-top:6px;}
.top_bar > div.p_r > a:first-of-type{background-position:0px -791px; display:inline-block;}
.top_bar > div.p_r > a:first-of-type:before{content:''}
.top_bar > a:last-child{ background-position:0px 0px;}
.top_bar > a:nth-child(2){background-position:0px -699px;}.top_bar > a:nth-child(2):before{content:''}
.top_bar a.ac{}
.prompt:before{content:""; background:url(../images/icon2.png) no-repeat -2px -123px; width:14px; height:7px; position:absolute; top:-7px; right:10px;}
.close_btn{}
.mnav a{font-size:1em; width:24.5%;}
.mnav a:last-child:before{content:"···"; font-size:1.25em; color:#ccc;}
.sid_bar span{}
.sid_bar span:before{content:"·"; font-size:1.25em; color:#999;}
.sid_bar span.ac:before{content:"·"; font-size:1.25em; color:#fff;}
a.home_btn{ display:block;}
a.home_btn:before{content:""; background:url(../images/ucb.png) no-repeat -4px -496px; display:inline-block; width:50px; height:39px; box-shadow:none; border:none; padding:0px;}
.play_box a.more_btn:before{content:" "; background:url(../images/ucb.png) no-repeat -4px -496px; width:32px; height:28px;}

.play_box a.mores_btn{}
.play_box a.mores_btn:before{content:" "; background:url(../images/ucb.png) no-repeat -3px -888px; width:32px; height:28px; display:inline-block; border:none; box-shadow:none; padding:0px; margin:0px;}
.ulimg>li>div.dv1{width:35%;}
.imgst ul, .imgst a.play_btn{ padding-top:0px; opacity:0.4;}
.imgst a.play_btn:before{content:""; background:url(../images/ucb.png) no-repeat -6px -1073px; width:40px; height:41px; display:inline-block;}
.dv2 h5{ margin-bottom:0em;}
.pl_boxs textarea{width:90%;}