/build/
/caches/upgrade/*
/caches/db_bak
/.idea/*
/.svn/*
/caches/content/*
/caches/templates/*
/www/uploadfile/*
/www/tags/*
/www/webs/*
/www/res/t3/*.html
/caches/sql_log.H_1_a.sql
/www/test.php
/caches/upgrade/
www/configs/mysql_config.php
caches/templates/*
www/.htaccess
upgrade/migrations/*

www/guanyuwomen/gongsijieshao/index.html
