/build/
/caches/upgrade/
/caches/db_bak
/.idea/*
/.svn/*
/caches/content/*
/caches/templates/*
/www/uploadfile/*
/www/tags/*
/www/webs/*
/www/res/t3/*.html
/caches/sql_log.H_1_a.sql
/caches/_cache_/sendmail.H_1_a.php
/www/uploadfile/qr_image/mobile.png
/www/test.php
/www/configs/mysql_config.php
/www/configs/route_config.php
/www/configs/uc_mysql_config.php
/www/configs/web_config.php
/www/configs/weixin_config.php
/upgrade/backup/*
/upgrade/data/*
/upgrade/build/*
caches/sql_log.H_1_a.sql
www/configs/mysql_config.php
caches/upgrade/*