<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="res/libs/layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="res/libs/layuiadmin/style/admin.css" media="all">
<title>{if $id}{$title} - {/if}{if $cid}<?php $parrent_cid = getcategoryname($cid) ?>{$r['name']} - {/if}{$siteconfigs['sitename']}</title>
<script src="{R}libs/jquery/jquery.min.js"></script>
<script type="text/javascript">
    var cookie_pre="{COOKIE_PRE}";var cookie_domain = '{COOKIE_DOMAIN}';var cookie_path = '{COOKIE_PATH}';var web_url = '{WEBURL}';
</script>