{T "content","head",TPLID}
<!--路径导航-->
<div style="background: #f3f3f3">
    <div class="container">
        <ol class="breadcrumb" style="margin-bottom: 0px">
            您现在的位置：
            <li><a href="{WEBURL}">首页</a><span> &gt;</span></li>
            {catpos($cid)}
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="ad-box" style="height: 120px; width: 100%; background: #dddddd"><script  src="{WEBURL}promote/7.js"></script></div>
        </div>
    </div>
</div>

<div class="news-second-screen">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="headline-news-list">
                    {wz:content action="listing" page="$page" pagesize="10" order="sort DESC,id DESC" cid="$cid" urlrule="$urlrule"}
                    {loop $rs $r}
                    <div class="media">
                        {if $r['thumb']}
                        <div class="media-left ">
                            <a href="{$r['url']}">
                                <img class="media-object" src=" {$r['thumb']}" alt="{$r['title']}" width="165px" height="110px">
                            </a>
                        </div>
                        {/if}
                        <div class="media-body">
                            <h4 class="media-heading manhangyichu"><a href="{$r['url']}">{$r['title']}</a></h4>
                            <div class="media-content" >{strcut($r['remark'],200,'...')}</div>
                            <div  class="media-time"><span class="left">发布时间：{date('Y-m-d H:i:s',$r['addtime'])}</span><span class="right">浏览(<samp  id="view_{$cid}_{$r['id']}">0</samp>) </span></div>
                        </div>
                    </div>
                    {/loop}
                    {/wz}
                </div>

                <!-- start-五指分页-->
                <div style="text-align:center;">
                    {if $this->db->number>10}
                    <nav style="text-align: center;">
                        <ul class="pagination">
                            {$pages}
                        </ul>
                    </nav>
                    {/if}
                </div>
                <script>
                var views_keyid = new Array();
                {loop $rs $r}
                views_keyid.push('{$cid}_{$r['id']}');
                {/loop}
                $.getJSON("{WEBURL}index.php", {f: "stats", keyid: views_keyid },
                function(data){
                    $.each(data, function( index, value ) {
                        $("#view_"+value.cid+'_'+value.id).html(value.views);
                    });
                });
                </script>


            </div><!-- col-xs-8  -->

            <div class="col-xs-4 ">
                <div class="right-bg-box" style="padding-top: 20px; padding-bottom: 20px;">
                    <div class="ad-box-first" style="height: 300px; width: 100%; background: #dddddd"><script  src="{WEBURL}promote/8.js"></script></div>
                    <div class="lm-title margin_bottom15">
                        <h3 class="lm-title-left">浏览排行 </h3>
                    </div>
                    <div class="list-ol-box-2">
                        <ol class="rectangle-list-2">
                            {wz:content action="rank" pagesize="10" order="weekviews DESC" cid="$cid" urlrule="$urlrule"}
                            {loop $rs $r}
                            <li ><a href="{$r[url]}">{$r['title']}</a></li>
                            {/loop}
                            {/wz}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{T "content","foot",TPLID}