{T "content","head",TPLID}
<!--路径导航-->
<div style="background: #f3f3f3">
    <div class="container">
        <ol class="breadcrumb" style="margin-bottom: 0px">
            您现在的位置：
            <li><a href="{WEBURL}">首页</a><span> &gt;</span> </li>
            {catpos($cid)}
            <li class="active">正文</li>
        </ol>
    </div>
</div>

<div class="video-content-top">
    <div class="container">
        <div class="row">

            <div class="col-xs-9">
                <h3 class="margin_bottom6  margin_top10">{$title}</h3>
                <p class="color_999">发布：{$addtime} &nbsp;&nbsp;&nbsp;&nbsp; 播放：<span id="hits">0</span>&nbsp;&nbsp;&nbsp;&nbsp; 时长：03:24</p>
                <!--优酷播放器-->
                {if $youku}
                <div class="vido-windows">
                    <iframe height=580 width=100% src="{$youku['url']}" frameborder="0" allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true"></iframe>
                    <a  class="new-open"  href="{WEBURL}index.php?f=player&v=youku&code={$youku['code']}&cid={$cid}&id={$id}&token={md5($youku['code'].$cid.$id._KEY)}&title={urlencode($title)}" target="_blank">新窗口播放</a>
                </div>
                {/if}
                <!--土豆播放器-->
                {if $tudou}
                <div>
                    <a href="{WEBURL}index.php?f=player&v=tudou&code={$tudou['code']}&type={$tudou['type']}&lcode={$tudou['lcode']}&cid={$cid}&id={$id}&token={md5($tudou['code'].$cid.$id._KEY)}&title={urlencode($title)}" target="_blank">新窗口播放</a>
                    <iframe height=580 width=100% src="{$tudou['url']}" frameborder="0" allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true"></iframe>
                </div>
                {/if}
            </div>

            <div class="col-xs-3">
                <div class="ad-box" style="height: 84px; background: #ddd; margin-top: 0px"><script  src="{WEBURL}promote/15.js"></script></div>
                <div class="headline-news-list  video-right-list">
                    {wz:content action="listing" pagesize="6" order="sort DESC,id DESC" cid="$cid" urlrule="$urlrule"}
                    {loop $rs $r}
                    <div class="media">
                        <div class="media-left ">
                            <a href="{$r['url']}">
                                <img class="media-object" src="{$r['thumb']}" alt="..." width="72px" >
                            </a>
                        </div>
                        <div class="media-body" style="max-width: 205px">
                            <h5 class="media-heading"><a href="{$r['url']}"  {if $r['id']==$id}class="active" {/if}>{$r['title']}</a></h5>
                        </div>
                    </div>
                    {/loop}
                    {/wz}
                </div>
            </div>

        </div>
    </div>
    {if $content}
    <div class="container" >
        <div  class="content-p" style="text-indent: 30px;font-size: 16px; border: 1px solid #e8e8e8;padding: 20px;margin-top: 15px;">
            {$content}
        </div>
    </div>
    {/if}
</div>

<div class="ad-box">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div style="height: 120px; background: #ddd"><script  src="{WEBURL}promote/16.js"></script></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="video-second-screen ">
        <div class="row">
            <div class="col-xs-9">
                <div class="lm-title margin_bottom15">
                    <h3 class="lm-title-left">热播推荐 </h3>
                </div>
                <div class="row">
                    {wz:content action="listing" pagesize="6" order="sort DESC,id DESC" cid="$cid" urlrule="$urlrule"}
                    {loop $rs $r}
                    <div class="col-xs-4">
                        <div class="narrowArt">
                            <a href="{$r['url']}" title="{$r['title']}">
                                <img  src="{$r['thumb']}" alt="" width="273" height="182">
                                <h2>{$r['title']}</h2>
                            </a>
                        </div>
                    </div>
                    {/loop}
                    {/wz}
                </div>
            </div>

            <div class="col-xs-3">
                <div class="lm-title margin_bottom15">
                    <h3 class="lm-title-left">浏览排行 </h3>
                </div>
                <div class="list-ol-box">
                    <ol class="rectangle-list">
                        {wz:content action="rank" pagesize="10" order="weekviews DESC" cid="$cid" urlrule="$urlrule"}
                        {loop $rs $r}
                        <li ><a href="{$r[url]}">{$r['title']}</a></li>
                        {/loop}
                        {/wz}
                    </ol>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="video-second-screen margin_top20 ">
        <div class="row">
            <div class="col-xs-9">
                <!--高速版，加载速度快，使用前需测试页面的兼容性-->
                <div id="SOHUCS"></div>
                <script>
                    (function(){
                        var appid = "{$siteconfigs['cy_appid']}",
                                conf = "{$siteconfigs['cy_key']}";
                        var doc = document,
                                s = doc.createElement('script'),
                                h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
                        s.type = 'text/javascript';
                        s.charset = 'utf-8';
                        s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
                        h.insertBefore(s,h.firstChild);
                        window.SCS_NO_IFRAME = true;
                    })()
                </script>
            </div>

            <div class="col-xs-3">
                <div class="ad-box" style="height: 300px; background: #f4f4f4"><script  src="{WEBURL}promote/25.js"></script></div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="{WEBURL}index.php?f=stat&id={$id}&cid={$cid}"></script>
{T "content","foot",TPLID}
