<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="../../favicon.ico">
    <title>Account Activation</title>
    <!--cs-->
    <link type="text/css" rel="stylesheet" href="{R}member/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="{R}css/login_style.css">
    <link href="{R}css/validform.css" rel="stylesheet">
    <link href="http://validform.rjboy.cn/demo/css/demo.css" rel="stylesheet">
    <!--js-->
    <script type="text/javascript" src="{R}member/js/jquery.min.js"></script>
    <script type="text/javascript" src="{R}member/js/bootstrap.js"></script>
    <script src="{R}js/validform.min.js"></script>
    <script src="{R}js/passwordStrength-min.js"></script>
</head>
<body>
<style>
    .passwordStrength{
        padding-top: 15px;
    }
    .passwordStrength b{
        font-weight:normal;
    }
    .passwordStrength b,.passwordStrength span{
        display:inline-block;
        vertical-align:middle;
        line-height:16px;
        line-height:18px\9;
        height:16px;
    }
    .passwordStrength span{
        width: 63px;
        text-align:center;
        background-color:#d0d0d0;
        border-right:1px solid #fff;
    }
    .passwordStrength .last{
        border-right:none;
    }
    .passwordStrength .bgStrength{
        color:#fff;
        background-color:#71b83d;
    }
</style>
<div class="container login">
	<div class="verticalcenter">
		<div class="row">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                 <div class="col-xs-3 disanfang_ico" style="min-height: 530px;">
                     <div class="login-logo thumbnail" style="border-radius: 50%;" ><img  alt="Brand" src="{R}images/login-logo.png" class="img-circle" ></div>

                    <span style="color: #999999; font-size: 24px;"><center>帐号激活</center></span><hr>
                </div>
                <div class="col-xs-9" style="margin-top: 60px">

                    <div class="typesbox" style="padding-left: 180px; padding-bottom: 36px;">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="stypeclass active"><a href="javascript:;"><span>帐号激活</span></a></li>

                        </ul>
                    </div>

                    <div class="row">

                        <form action="" method="post" id="loginform" name="loginform" class="form-horizontal">
                            <input type="hidden" name="modelid" id="setmodelid" value="10">
                            <div class="form-group">
                                <label class="control-label col-xs-3">用户名</label>
                                <div class="col-xs-9  form-inline">
                                    <input style="width: 60%" type="text" class="form-control" id="username"
                                            name="username" datatype="/^[a-z0-9@\.\u4E00-\u9FA5\uf900-\ufa2d\-]{3,40}$/i"
                                            errormsg="用户名错误" nullmsg="用户名不能为空" sucmsg="ok" autoComplete="off" value="{$username}" {if $sys_name==0}readonly{/if}>
                                    <span class="Validform_checktip"><!--请输入手机号码--></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">密码</label>
                                <div class="col-xs-9  form-inline">
                                    <input style="width: 60%" type="password" name="password" class="form-control" datatype="*6-18" errormsg="密码需要6-16位字符." nullmsg="密码不能为空" sucmsg="OK" plugin="passwordStrength">

                                    <span class="Validform_checktip"><!--请输入密码--></span><div class="passwordStrength">密码强度： <span>弱</span><span>中</span><span class="last">强</span></div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-3">确认密码</label>
                                <div class=" col-xs-9  form-inline">
                                    <input style="width: 60%"  type="password" name="pwdconfirm" class="form-control" placeholder="密码需要6-16位字符." datatype="*6-18" recheck="password" errormsg="密码不匹配" sucmsg="OK" nullmsg="确认密码不能为空" >
                                    <span class="Validform_checktip"><!--请再次输入密码--></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-3"> </label>
                                <div class=" col-xs-9">
                                    <input style="width: 60%" type="submit" name="submit" class="btn btn-primary btn-lg" value=" 提交 " />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>

		</div>
	</div>
</div>

<div class="login--bottom">
    <div class="container">
        <div class="col-xs-12" style="text-align: center">版权所有 @ 清华大学交叉信息研究院</div>
    </div>
</div>

<script type="text/javascript">
    var wzform = '';
    function form_keyup() {
        var len_text = $("#checkcode").val();
        if(len_text.length==4) {
            wzform.resetStatus();
            $("#loginform").submit();
            $("#checkcode").focus();
        }
    }
    $(function(){
        wzform = $(".form-horizontal").Validform({
            tiptype:3,
            usePlugin:{
                passwordstrength:{
                    minLen:6,
                    maxLen:18
                }
            }

        });

    })
</script>

</body>
</html>