{T  'member','head'}

{if $set_iframe==0}
{T "member","iframetop"}
{else}
<div style="padding-top: 15px;"></div>
{/if}

<style>
	ul,li{margin:0;padding: 0;list-style: none;}
</style>
<div class="container-fluid  ie8-member">
	<!--<div class="wrapper wrapper-content">-->
	<div class="row row-40" >
		{if $set_iframe==0}
		<div class="col-sm-3 left-nav padding-right0">
			<!--左侧导航-->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="nav-close"><i class="fa fa-times-circle"></i>
				</div>
				<div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
					<div class="sidebar-collapse" style="width: auto; height: 100%;">
						{T "member","left"}
					</div>
				</div>
			</nav>
			<!--end 左侧导航-->
		</div><!--col-sm-3-->{/if}

		<div class="{if $set_iframe==0}col-sm-9{else}col-sm-12{/if} paddingleft0">


			<div class="row">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>设置头像</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a class="close-link">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content" style="display: -webkit-box;">
							<div class="row">
								<div class="col-sm-9">
									<div id="myContent"><p><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
											codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
											WIDTH="490" HEIGHT="434" id="myMovieName">
										<PARAM NAME=movie VALUE="{R}js/avatar.swf">
										<PARAM NAME=quality VALUE=high>
										<PARAM NAME=bgcolor VALUE=#FFFFFF>
										<param name="flashvars" value="upurl={$upurl}&callback=return_avatar" />
										<EMBED src="{R}js/avatar.swf" quality=high bgcolor=#FFFFFF WIDTH="490" HEIGHT="434" wmode="transparent" flashVars="upurl={$upurl}&callback=return_avatar"
												NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash" allowScriptAccess="always"
												PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
										</EMBED>
									</OBJECT>
									</p></div>
								</div>
								<div class="col-sm-3">
									<div class="memberavatar" id="avatarlist">
										<li>
											<img src="{WEBURL}uploadfile/member/{$dir}180x180.jpg" height="180" width="180" onerror="this.src='{R}images/userface.png'"><br />
											{L('avatar')}180 x 180
										</li>
										<li>
											<img src="{WEBURL}uploadfile/member/{$dir}180x180.jpg" height="90" width="90" onerror="this.src='{R}images/userface.png'"><br />
											{L('avatar')}90 x 90
										</li>
										<li>
											<img src="{WEBURL}uploadfile/member/{$dir}180x180.jpg" height="45" width="45" onerror="this.src='{R}images/userface.png'"><br />
											{L('avatar')}45 x 45
										</li>
										<li>
											<img src="{WEBURL}uploadfile/member/{$dir}180x180.jpg" height="30" width="30" onerror="this.src='{R}images/userface.png'"><br />
											{L('avatar')}30 x 30
										</li>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    function return_avatar(data) {
        if(data == 1) {
            var d = dialog({
                title: '太棒了',
                content: '头像更新成功!'
            });
            d.show();
            setTimeout(function () {
                d.close().remove();
                window.location.reload();
            }, 5000);

        } else {
            alert('failure');
        }
    }
</script>
{T "member","foot"}
</body>
</html>