{php $is_iframe = isset($is_iframe) ? $is_iframe : 0;}
<ul class="nav" id="side-menu">
    <li style="padding-top: 10px;"></li>
    <li>
        <a class="{if $is_iframe}J_menuItem{/if}" href="index.php?m=member&f=index&v=main"><i class="fa fa-home" style="font-size:18px;margin-top:8px;"></i> <span class="nav-label">我的主页</span></a>
    </li>
    <li onclick="open_navbar();" class="active">
        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">稿件管理</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a class="{if $is_iframe}J_menuItem{/if}" href="?m=content&f=postinfo&v=newinfo">投稿</a></li>
            <li><a class="{if $is_iframe}J_menuItem{/if}" href="?m=content&f=postinfo&v=listing">我的投稿</a></li>
        </ul>
    </li>

    {if $admin_rs}

    <li onclick="open_navbar();" class="">
        <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">编审稿件</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a class="{if $is_iframe}J_menuItem{/if}" href="{adminurl('?m=content&f=checks&v=c1')}">待审稿件</a>

            <li><a class="{if $is_iframe}J_menuItem{/if}" href="{adminurl('?m=content&f=checks&v=c3')}">精编稿件</a>

            <li><a class="{if $is_iframe}J_menuItem{/if}" href="{adminurl('?m=content&f=checks&v=ck1')}">一审</a>
            <li><a class="{if $is_iframe}J_menuItem{/if}" href="{adminurl('?m=content&f=checks&v=ck2')}">二审</a>
            <li><a class="{if $is_iframe}J_menuItem{/if}" href="{adminurl('?m=content&f=checks&v=ck3')}">三审</a>

            <li><a class="{if $is_iframe}J_menuItem{/if}" href="{adminurl('?m=content&f=checks&v=c5')}">已发稿件</a>
            </li>
        </ul>
    </li>
    {/if}
    <li onclick="open_navbar();" class="">
        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">帐号管理</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a class="{if $is_iframe}J_menuItem{/if}" href="?m=member&f=index&v=profile">帐号设置</a></li>
            <li><a class="{if $is_iframe}J_menuItem{/if}" href="?m=member&f=index&v=edit_password">修改密码</a></li>
        </ul>
    </li>
</ul>