<div style="margin:0; padding:0; width:860px; border:1px solid #F5F5F5;">
<div style="background-color: #630022;text-align: center;border-bottom: 1px solid #F1F1F1;color:white;font-size: 28px;padding: 10px;">帐号激活</div>
<div style=" padding:22px; background:#FFF;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td colspan="2"><p style=" color:#444; font-family:'Microsoft yahei'; font-size:14px ; ">尊贵的用户,</p></td>
    </tr>
  <tr>
    <td colspan="2" height="12"></td>
    </tr>
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="95%" height="40" style="font-size:14px; color:#666; font-family:'Microsoft yahei'; ">请点击链接,激活您的帐号.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="30" style=" font-size:14px; color:#666; font-family:'Microsoft yahei' ; "><a href="{$linkurl}" style="margin:0 5px; text-decoration:underline; color:#3db6c1;" target="_blank">{$linkurl}</a> <br><br></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="30" style=" font-size:14px; color:#666; font-family:'Microsoft yahei' ; ">激活成功后,您可以到会员中心,修改您的帐号信息. </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td height="20"></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#e0e0e0" height="1"></td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="15"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><p style="line-height:140%; font-size:14px; color:#666; font-family:'Microsoft yahei'; ">这是系统自动发送的邮件,请勿回复(This is an automated message, please do not reply. )</p>

    <br><br>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>
      <p style="line-height:140%; font-size:14px; color:#666; font-family:'Microsoft yahei'; ">{$sendtime}</p>
  </tr>

</tbody></table>

</div>
</div>