<div style="margin:0; padding:0; width:860px; border:1px solid #F5F5F5;">
<div style="background-color: #630022;text-align: center;border-bottom: 1px solid #F1F1F1;"><img src="{$weburl}/res/iiis/image/logo.png" style="width: 60%;"></div>
<div style=" padding:22px; background:#FFF;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td colspan="2"><p style=" color:#444; font-family:'Microsoft yahei'; font-size:14px ; ">Dear member,</p></td>
    </tr>
  <tr>
    <td colspan="2" height="12"></td>
    </tr>
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="95%" height="40" style="font-size:14px; color:#666; font-family:'Microsoft yahei'; ">Please click on the following link to activate your account at IIIS website.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="30" style=" font-size:14px; color:#666; font-family:'Microsoft yahei' ; "><a href="{$linkurl}" style="margin:0 5px; text-decoration:underline; color:#3db6c1;" target="_blank">{$linkurl}</a> <br><br></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="30" style=" font-size:14px; color:#666; font-family:'Microsoft yahei' ; ">If you would like to change your profile, please log in and go to the "Center" at the top of IIIS homepage. </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td height="20"></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#e0e0e0" height="1"></td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="15"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><p style="line-height:140%; font-size:14px; color:#666; font-family:'Microsoft yahei'; ">This is an automated message, please do not reply. </p>
      <p style="line-height:140%; font-size:14px; color:#666; font-family:'Microsoft yahei'; ">If you have any problem, please contact <a href="mailto:iiislix@mail.tsinghua.edu.cn" target="_blank">iiislix@mail<wbr>.tsinghua.ed<wbr>u.cn</a> </p>
    <br><br>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td><p style="line-height:140%; font-size:14px; color:#666; font-family:'Microsoft yahei'; ">IIIS Technical Team </p>
      <p style="line-height:140%; font-size:14px; color:#666; font-family:'Microsoft yahei'; ">{$sendtime}</p>
  </tr>

</tbody></table>

</div>
</div>