ul {margin:0;padding:0;-webkit-text-size-adjust: none}
ul, ol, li {list-style-type:none;vertical-align:0}
/*  CSS*/
.gb_resLay { background: #FFFFFF; height: 170px; width: 100%; max-width: 800px; margin:0 auto; }
.gb_res_t { line-height: 58px; height: 58px; position: relative; font-size: 18px; text-align: center;  margin: 20px 0px 10px 0px}
.gb_res_t i { background: #eee; height: 1px; overflow: hidden; left: 0px; top: 30px; right: 0px; position: absolute; }
.gb_res_t span { background: #FFF; display: inline-block; padding: 0px 6px; position: relative; z-index: 2; }
.gb_resItms { margin: 0px 4%; }
.gb_resItms li { text-align: center; float: left; width: 16.66%; padding-bottom: 15px; }
.gb_resA img { height: auto; width: 60px; margin-bottom: 10px; }
@media only screen and (max-width: 500px){
.gb_resA img { width: 45px; margin-top:5px; }	
}
@media only screen and (max-width: 470px){
.gb_resItms li { width: 33.333%; }
.gb_resLay { height: 290px; }
.gb_resA img { width: 60px; margin-top:0 }
}
