{T "member","head"}
<body class="gray-bg">
{if $set_iframe==0}
{T "member","iframetop"}
{else}
<div style="padding-top: 15px;"></div>
{/if}
<div class="container-fluid  ie8-member">
    <div class="row row-40" >
        {if $set_iframe==0}
        <div class="col-sm-3 left-nav">             <!--左侧导航-->
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="nav-close"><i class="fa fa-times-circle"></i>
                </div>
                <div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
                    <div class="sidebar-collapse" style="width: auto; height: 100%;">
                        {T "member","left"}
                    </div>
                </div>
            </nav>
            <!--end 左侧导航-->
        </div><!--col-sm-3-->{/if}

        <div class="{if $set_iframe==0}col-sm-9{else}col-sm-12{/if} paddingleft0">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>积分记录</h5>
                    <div class="submitbtn pull-right"><a href="?m=credit&f=biz_member&v=lines&set_iframe=1" class="right_btn btn-primary">查看柱状图</a></div>
                </div>
                <section class="ibox-content">

                    <div id="myTabContent" class="tab-content tabsbordertop">

                        <div role="tabpanel" class="tab-pane fade active in" id="tabs1" aria-labelledby="1tab">
                            <div class="panel-body" id="panel-bodys">
                                <table class="table table-striped table-advance table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th class="tablehead">积分</th>
                                        <th class="tablehead">增加还是减少</th>
                                        <th class="tablehead">时间</th>
                                        <th class="tablehead">所在频道</th>
                                        <th class="tablehead">是否管理员操作</th>
                                        <th class="tablehead">管理员备注</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {loop $result $r}
                                    <tr {if $n%2==0}class="tabletr"{/if}>
                                        <td align="left">{$r['point']}</td>
                                        <td align="left" class="smprice">
                                            {if $r['j_type']==1}
                                            <font color='green'>增加</font>
                                            {elseif $r['j_type']==2}
                                            <font color='#f37800'>减少</font>
                                            {/if}
                                        </td>
                                        <td  align="left">{date('Y-m-d H:i:s',$r['addtime'])}</td>
                                        <td align="left">{$r['catname']}</td>
                                        <td align="left">{$r['remark']}</td>
                                        <td align="left">{$r['content']}</td>




                                    </tr>
                                    {/loop}




                                    </tbody>
                                </table>
                            </div>

                            <!--分页开始-->
                            <div class="paginationpage text-center">
                                <nav>
                                    <ul class="pagination">
                                        {$pages}                                            </ul>
                                </nav>
                            </div>
                            <!--分页结束-->

                        </div>
                    </div>


                </section>
            </div>


        </div>
    </div>
</div>
{T "member","foot"}