.zt-header {
    background: url(../img/header-bg.gif) no-repeat top center;
    padding: 10px 0;
    background-size: cover;
    border-bottom: 1px solid #ddd;
}
.bread {
    padding: 8px 0;
}

blockquote {
    border: none;
    border-left: 6px solid #ddd;
    padding: 0 20px;
}
blockquote strong {
    font-size: 18px;
}

.mainCon {
    background: #fff;
}
.mainCon img {
    margin: 0 auto;
}

/*推荐内容列表样式*/
.hot-past {
    padding-top: 48px;
}

.media {
    background: #fff;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.media h4 {
    height: 42px;
}

#comments {
    background: #fff;
}